[MASTER]
ignore=ffpuppet/testff.py,ffpuppet/testmdsw.py

[MESSAGES CONTROL]
disable=missing-docstring,too-many-arguments,too-many-branches,too-many-locals,too-many-statements,useless-object-inheritance

[FORMAT]
max-line-length=120

[TYPECHECK]
ignored-classes=_socketobject
